<h1>Figures</h1>

<p>
  <strong>Revenue:</strong>
  <%= Helper.decimal_as_currency(@revenue) %>
</p>

<p>
  <strong>Expenditure:</strong>
  <%= Helper.decimal_as_currency(@expenditure) %>
</p>

<p>
  <strong>Events Processed:</strong>
  <%= @events %>
</p>