<h1>Companies</h1>

<%= link_to 'New Company', new_company_path %>
<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
	  <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company %></td>
		<td>Offers <%= company.route_segments.size %> route(s)</td>
      </tr>
    <% end %>
  </tbody>
</table>
