<h1>Locations</h1>

<%= link_to 'New Location', new_location_path %>

<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location %></td>
        <td><%= location.country %></td>
      </tr>
    <% end %>
  </tbody>
</table>

