<h1>Events</h1>

<table>
  <tr><p>
    <strong>Events Processed:</strong>
    <%= @events_num %>
  </p></tr>
	
  <thead>
    <tr>
	  <th>Date Created</th>
      <th>Type</th>
	  <th>Description (TODO)</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
		<td><%= Helper.time_format(event.created_at) %></td>
        <td><%= event.type %></td>
		<td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Figures', figures_path %>
