<h1>KELBURN POST SERVICE</h1>
<table><tr>
	<p>
		This is the site homepage. <br>
		Find me in: app/views/kps/index.html.erb
	</p>
</tr><tr>
	<p>
		Mail Requests:
	<ul>
		<% @requests.each do |request| %>
		<li>
			<%=  link_to request.mail_route.from_location.name + ' to ' + request.mail_route.to_location.name, request %>
		</li>
		<% end %>
	</ul>
	</p>
</tr></table>
